#love{
    background-color:rgb(188, 247, 242);
    background-repeat: no-repeat;
    color:rgb(7, 8, 8);
    background-size: cover;
    
}
#quote{
    font-size: 75px;
    text-align: center;
    color: rgb(15, 15, 15);
}
#card{
    background-color:rgb(244, 223, 245);
}