#love{
    background-color:rgb(235, 183, 218);
    background-repeat: no-repeat;
    color:rgb(11, 42, 104);
    
}
#quote{
    font-size: 75px;
    text-align: center;
    color: rgb(15, 15, 15);
}
#card{
    background-color: transparent;
}