/*#love{
    background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2013/11/18/176518/8b71ae4cba365c1d34145a0142f5c3f0.jpg");
    background-repeat: no-repeat;
    color:rgb(11, 42, 104);
    
}
#quote{
    font-size: 95px;
    text-align: center;
    color: rgb(204, 101, 101);
}
#card{
    background-color: transparent;
}